In [25]:
import io
import os
import subprocess
import sys

import numpy as np
import pandas as pd

from IPython.display import display, HTML

import papermill as pm
from configure_kgtk_notebooks import ConfigureKGTK

In [26]:
# Parameters

# Folder on local machine where to create the output and temporary folders
input_path = "/Users/pedroszekely/Downloads/kypher/iswc/inputs"
output_path = "/Users/pedroszekely/Downloads/kypher/iswc/ouptuts"
project_name = "arnold"
files = "all,label"

In [27]:
files = files.split(",")
ck = ConfigureKGTK()
ck.configure_kgtk(input_graph_path=input_path,
                  output_path=output_path,
                  project_name=project_name)

In [28]:
os.environ['KGTK_LABEL_FILE'] = "{}".format(os.environ['label']) 
os.environ['kypher'] = "kgtk query --graph-cache /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold/wikidata.sqlite3.db"

In [29]:
ck.print_env_variables(files)

EXAMPLES_DIR: /Users/pedroszekely/Documents/GitHub/kgtk/examples
USE_CASES_DIR: /Users/pedroszekely/Documents/GitHub/kgtk/use-cases
GRAPH: /Users/pedroszekely/Downloads/kypher/iswc/inputs
OUT: /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold
TEMP: /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold
STORE: /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold/wikidata.sqlite3.db
kgtk: kgtk --debug
kypher: kgtk query --graph-cache /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold/wikidata.sqlite3.db
GRAPH: /Users/pedroszekely/Downloads/kypher/iswc/inputs
OUT: /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold
TEMP: /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold
STORE: /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold/wikidata.sqlite3.db
kgtk: kgtk --debug
kypher: kgtk query --graph-cache /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold/wikidata.sqlite3.db
GRAPH: /Users/pedroszekely/Downloads/kypher/iswc/inputs
OUT: /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold
TEMP: /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold
STORE: /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold/wikidata.sqlite3.db
kgtk: kgtk --debug
kypher: kgtk query --graph-cache /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold/wikidata.sqlite3.db
all: /Users/pedroszekely/Downloads/kypher/iswc/inputs/all.tsv.gz
label: /Users/pedroszekely/Downloads/kypher/iswc/inputs/labels.en.tsv.gz

In [30]:
ck.load_files_into_cache(file_list=files)

kgtk query --graph-cache /Users/pedroszekely/Downloads/kypher/iswc/ouptuts/arnold/temp.arnold/wikidata.sqlite3.db -i "/Users/pedroszekely/Downloads/kypher/iswc/inputs/all.tsv.gz" --as all  -i "/Users/pedroszekely/Downloads/kypher/iswc/inputs/labels.en.tsv.gz" --as label  --limit 3
node1	label	node2	id
P10	P31	Q18610173	P10-P31-Q18610173-85ef4d24-0
P1000	P31	Q18608871	P1000-P31-Q18608871-093affb5-0
P1001	P1647	P276	P1001-P1647-P276-e4e44f83-0

# To Do
- Do partition of the graph in to the usual Wikidata files
- Compute the derived files

# Explore The Arnold Schwarzenegger Graph `Q2685`

Number of nodes in the graph

In [31]:
!$kypher -i all \
--match '(n1)-[]->()' \
--return 'count(distinct n1)'

count(DISTINCT graph_1_c1."node1")
218486

Number of edges in the graph (not counting qualifier edges)

In [16]:
!$kypher -i all \
--match '()-[l]->()' \
--return 'count(distinct l)'

count(DISTINCT graph_1_c1."id")
1523735

Number of qualifier edges

In [17]:
!$kypher -i all \
--match '()-[l]->(), (l)-[q]->()' \
--return 'count(distinct q)'

count(DISTINCT graph_1_c2."id")
270275

Number of humans

In [33]:
!$kypher -i all \
--match '(n1)-[:P31]->(:Q5)' \
--return 'count(distinct n1)'

count(DISTINCT graph_1_c1."node1")
10918

Number of organizations (should be updated to use P279star)

In [18]:
!$kypher -i all \
--match '(n1)-[:P31]->(:Q43229)' \
--return 'count(distinct n1)'

count(DISTINCT graph_1_c1."node1")
206

Films where Schwarzenegger is a cast member

In [19]:
h = !$kypher -i all \
--match ' \
    (film)-[:P161]->(:Q2685)' \
--return 'distinct film as id' \
/ add-labels / html

display(HTML(h[0]))

People who won the Bambi Award

In [31]:
%%time
h = !$kypher -i all \
--match ' \
    (film)-[:P166]->(:Q630018)' \
--return 'distinct film as id' \
/ add-labels / html

display(HTML(h[0]))

CPU times: user 3.42 ms, sys: 9.32 ms, total: 12.7 ms
Wall time: 1.15 s

Select the subgraph that contains item to item edges

In [15]:
%%time
!$kypher -i all \
--match ' \
    (n1)-[r {label: property}]->(n2), \
    (property)-[l:datatype]->(:`wikibase-item`)' \
--return 'distinct n1 as node1, property as label, n2 as node2, r as id' \
-o "$TEMP"/item.edges.tsv.gz

[2021-10-01 17:24:31 query]: SQL Translation:
---------------------------------------------
  SELECT DISTINCT graph_1_c1."node1" "_aLias.node1", graph_1_c2."node1" "_aLias.label", graph_1_c1."node2" "_aLias.node2", graph_1_c1."id" "_aLias.id"
     FROM graph_1 AS graph_1_c1
     INNER JOIN graph_1 AS graph_1_c2
     ON graph_1_c2."node1" = graph_1_c1."label"
        AND graph_1_c1."label" = graph_1_c2."node1"
        AND graph_1_c2."label" = ?
        AND graph_1_c2."node2" = ?
  PARAS: ['datatype', 'wikibase-item']
---------------------------------------------
CPU times: user 84.2 ms, sys: 34.2 ms, total: 118 ms
Wall time: 7.69 s

Compute pagerank using the undirected graph

In [36]:
%%time
!$kgtk graph-statistics -i "$TEMP"/item.edges.tsv.gz \
--pagerank True \
--hits False \
--degrees False \
--undirected True \
--page-rank-property Ppagerank \
--statistics-only True \
-o "$TEMP"/pagerank.tsv.gz

!$kypher -i "$TEMP"/pagerank.tsv.gz --as pagerank --limit 2

node1	label	node2	id
P1001-P1855-Q11696-cdbf391b-0	vertex_in_degree	0	P1001-P1855-Q11696-cdbf391b-0-vertex_in_degree-0
P1001-P1855-Q11696-cdbf391b-0	vertex_out_degree	1	P1001-P1855-Q11696-cdbf391b-0-vertex_out_degree-1
CPU times: user 188 ms, sys: 73.5 ms, total: 261 ms
Wall time: 16.8 s

Compute degrees using the directed graph

In [37]:
%%time
!$kgtk graph-statistics -i "$TEMP"/item.edges.tsv.gz \
--pagerank False \
--hits False \
--degrees True \
--undirected False \
--vertex-in-degree-property Pindegree \
--vertex-out-degree-property Poutdegree \
--statistics-only True \
-o "$TEMP"/degrees.tsv.gz

!$kypher -i "$TEMP"/degrees.tsv.gz --as degrees --limit 2

node1	label	node2	id
P1001-P1855-Q11696-cdbf391b-0	Pindegree	0	P1001-P1855-Q11696-cdbf391b-0-Pindegree-0
P1001-P1855-Q11696-cdbf391b-0	Poutdegree	1	P1001-P1855-Q11696-cdbf391b-0-Poutdegree-1
CPU times: user 161 ms, sys: 65.2 ms, total: 227 ms
Wall time: 14.7 s

Top pagerank humans, go Stalone!

In [34]:
%%time
h=!$kypher -i all -i pagerank \
--match ' \
    all: (:Q5)<-[:P31]-(n1), \
    pagerank: (n1)-[l:Ppagerank]->(pagerank)' \
--return 'n1 as node1, l.label as label, pagerank as node2' \
--order-by 'cast(pagerank, float) desc' \
--limit 10 \
/ add-labels / html

display(HTML(h[0]))

CPU times: user 2.79 ms, sys: 8.17 ms, total: 11 ms
Wall time: 1.59 s

In degree

In [45]:
%%time
h=!$kypher -i all -i degrees \
--match ' \
    degrees: (n1)-[l:Pindegree]->(degree)' \
--return 'n1 as node1, l.label as label, degree as node2' \
--order-by 'cast(degree, int) desc' \
--limit 10 \
/ add-labels / html

display(HTML(h[0]))

CPU times: user 4.02 ms, sys: 10.1 ms, total: 14.1 ms
Wall time: 1.32 s

Out degree

In [36]:
h=!$kypher -i all -i degrees \
--match ' \
    degrees: (n1)-[l:Poutdegree]->(degree), all: (n1)-[:P31]->(:Q5)' \
--return 'n1 as node1, l.label as label, degree as node2' \
--order-by 'cast(degree, int) desc' \
--limit 10 \
/ add-labels / html

display(HTML(h[0]))

q-nodes with ULAN id

In [21]:
!$kypher -i all \
--match '(n1)-[:P245]->(ulan_id)' \
--return 'count(distinct n1)'

[2021-10-01 17:25:02 query]: SQL Translation:
---------------------------------------------
  SELECT count(DISTINCT graph_1_c1."node1")
     FROM graph_1 AS graph_1_c1
     WHERE graph_1_c1."label" = ?
  PARAS: ['P245']
---------------------------------------------
count(DISTINCT graph_1_c1."node1")
431

Sample of nodes with ULAN ids

In [22]:
!$kypher -i all \
--match '(n1)-[l:P245]->(ulan_id)' \
--return 'distinct n1 as node1, l.label as label, ulan_id as node2' \
--limit 10 \
/ add-labels / table

[2021-10-01 17:25:03 query]: SQL Translation:
---------------------------------------------
  SELECT DISTINCT graph_1_c1."node1" "_aLias.node1", graph_1_c1."label" "_aLias.label", graph_1_c1."node2" "_aLias.node2"
     FROM graph_1 AS graph_1_c1
     WHERE graph_1_c1."label" = ?
     LIMIT ?
  PARAS: ['P245', 10]
---------------------------------------------
| node1     | label | node2       | node1;label                            | label;label                        |
| --------- | ----- | ----------- | -------------------------------------- | ---------------------------------- |
| Q100948   | P245  | "500224955" | 'Rachel Carson'@en                     | 'Union List of Artist Names ID'@en |
| Q101771   | P245  | "500281177" | 'Gottfried Gruben'@en                  | 'Union List of Artist Names ID'@en |
| Q101791   | P245  | "500001235" | 'Sep Ruf'@en                           | 'Union List of Artist Names ID'@en |
| Q102139   | P245  | "500256782" | 'Margrethe II of Denmark'@en           | 'Union List of Artist Names ID'@en |
| Q1024362  | P245  | "500302331" | 'Spanish National Research Council'@en | 'Union List of Artist Names ID'@en |
| Q1024426  | P245  | "500286871" | 'University of South Carolina'@en      | 'Union List of Artist Names ID'@en |
| Q102711   | P245  | "500114625" | 'Dennis Hopper'@en                     | 'Union List of Artist Names ID'@en |
| Q10288082 | P245  | "500304375" | 'Wildenstein & Company'@en             | 'Union List of Artist Names ID'@en |
| Q103876   | P245  | "500355461" | 'Peter O\'Toole'@en                    | 'Union List of Artist Names ID'@en |
| Q1065     | P245  | "500354403" | 'United Nations'@en                    | 'Union List of Artist Names ID'@en |

Count of q-nodes with ULAN ids and place of birth (P19)

In [23]:
!$kypher -i all \
--match '(n1)-[:P245]->(ulan_id), (n1)-[:P19]->()' \
--return 'count(distinct n1)'

[2021-10-01 17:25:03 query]: SQL Translation:
---------------------------------------------
  SELECT count(DISTINCT graph_1_c1."node1")
     FROM graph_1 AS graph_1_c1
     INNER JOIN graph_1 AS graph_1_c2
     ON graph_1_c1."node1" = graph_1_c2."node1"
        AND graph_1_c1."label" = ?
        AND graph_1_c2."label" = ?
  PARAS: ['P245', 'P19']
---------------------------------------------
count(DISTINCT graph_1_c1."node1")
143

Sample of q-nodes that have ULAN ids, but don't have birth place

In [24]:
!$kypher -i all \
--match '(n1)-[:P245]->(ulan_id)' \
--opt '(n1)-[:P19]->(birth_place)' \
--where: 'birth_place is null' \
--return 'distinct n1 as node1' \
--limit 10 \
/ add-labels / table

[2021-10-01 17:25:04 query]: SQL Translation:
---------------------------------------------
  SELECT DISTINCT graph_1_c1."node1" "_aLias.node1"
     FROM graph_1 AS graph_1_c1
     LEFT JOIN graph_1 AS graph_1_c2
     ON graph_1_c1."node1" = graph_1_c2."node1"
        AND graph_1_c2."label" = ?
     WHERE graph_1_c1."label" = ?
        AND (graph_1_c2."node2" IS NULL)
     LIMIT ?
  PARAS: ['P19', 'P245', 10]
---------------------------------------------
| node1     | node1;label                            |
| --------- | -------------------------------------- |
| Q100948   | 'Rachel Carson'@en                     |
| Q102139   | 'Margrethe II of Denmark'@en           |
| Q1024362  | 'Spanish National Research Council'@en |
| Q1024426  | 'University of South Carolina'@en      |
| Q102711   | 'Dennis Hopper'@en                     |
| Q10288082 | 'Wildenstein & Company'@en             |
| Q1065     | 'United Nations'@en                    |
| Q1065414  | 'Vrije Universiteit Amsterdam'@en      |
| Q1066442  | 'Charles Moore'@en                     |
| Q1068072  | 'University of Delaware'@en            |

Count of q-nodes with ULAN id and birth date

In [25]:
!$kypher -i all \
--match '(n1)-[:P245]->(ulan_id), (n1)-[:P569]->()' \
--return 'count(distinct n1)'

[2021-10-01 17:25:05 query]: SQL Translation:
---------------------------------------------
  SELECT count(DISTINCT graph_1_c1."node1")
     FROM graph_1 AS graph_1_c1
     INNER JOIN graph_1 AS graph_1_c2
     ON graph_1_c1."node1" = graph_1_c2."node1"
        AND graph_1_c1."label" = ?
        AND graph_1_c2."label" = ?
  PARAS: ['P245', 'P569']
---------------------------------------------
count(DISTINCT graph_1_c1."node1")
240

Sample of q-nodes that have ULAN ids, but don't have birth date (P569)

In [38]:
!$kypher -i all \
--match '(n1)-[:P245]->(ulan_id), (n1)-[:P31]->(:Q5)' \
--opt '(n1)-[:P569]->(birth_place)' \
--where: 'birth_place is null' \
--return 'distinct n1 as node1' \
--limit 10 \
/ add-labels / table

| node1    | node1;label            |
| -------- | ---------------------- |
| Q1280275 | 'Pan Painter'@en       |
| Q133337  | 'Solon'@en             |
| Q1405    | 'Augustus'@en          |
| Q168261  | 'Ptolemy I Soter'@en   |
| Q2039    | 'Titus Livius'@en      |
| Q26825   | 'Herodotos'@en         |
| Q43353   | 'Aristophanes'@en      |
| Q5264    | 'Hippocrates'@en       |
| Q577906  | 'Antimenes Painter'@en |
| Q902022  | 'Darius Painter'@en    |

In [27]:
!$kypher -i all \
--match '(n1)-[l:P245]->(ulan_id)' \
--return 'distinct n1 as node, l.label as label, ulan_id as node2' \
-o "$TEMP"/ulan-qnodes.tsv

[2021-10-01 17:25:07 query]: SQL Translation:
---------------------------------------------
  SELECT DISTINCT graph_1_c1."node1" "_aLias.node", graph_1_c1."label" "_aLias.label", graph_1_c1."node2" "_aLias.node2"
     FROM graph_1 AS graph_1_c1
     WHERE graph_1_c1."label" = ?
  PARAS: ['P245']
---------------------------------------------

%%time
!$kgtk --debug graph-embeddings -i "$TEMP"/item.edges.tsv.gz \
--dimension 20 \
--output_format kgtk \
-o "$OUT"/graph-embeddings.tsv.gz